.category-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.card {
    position: relative;
    width: 500px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}

.card::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 300px;
    background-color: rgba(24, 22, 22, 0.37);
    z-index: 10;
}

.navLink {
    color: rgb(0, 255, 0);
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.category_header {
    padding-top: 80px;
}